@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-slate-200;
  }
}

@layer base {
  .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
}

.hoverFx:hover {
  background-color: rgb(44, 44, 44);
  box-shadow: 0 0 2px #ff00f2;
}

.border-gradient {
  border: 2px solid;
  border-image-slice: 1;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to bottom, #743ad5, #232323);
}
.border-gradient-red {
  border-image-source: linear-gradient(to bottom, #ff0101, #232323);
}
.only-top {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

